html {
    height: 100%;
}
body {
    background-color: dimgray;
    height: 100%;
}
#wrapper {
    
    margin: 0 auto;
    background-color: #151515;
    height: inherrit;
}
#logo {
    text-align: center;
    margin-top: 0px;
    padding: 20px;
    background-color: #333333;
}
#photo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
#name {
    font-family: Century Gothic, Tahoma, serif;
    font-size: medium;
    color: #ffffff;
    background-color: #bc8f8f;
    text-align: center;
    padding: 5px;
}
#desc {
    font-family: Century Gothic, Tahoma, serif;
    font-size: medium;
    color: white;
    text-align: center;
    padding: 10px;
    width: auto;
}
#container {
    overflow: hidden;
    width: auto;
    text-align: right;
    margin-right: 10px;
}
#box {
    white-space: nowrap;
}
#box div {
    width: auto;
    display: inline-block;
}
}


footer {
    position: relative;
    margin-bottom: 0px;
    background-color: #333333;
    width: 100%;
    height: 80px;
    padding: 20px;
}
